:root {
    --color-primary: #373737;
    --color-secondary: #860079;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}

p {
    color: #fff;
    font-size: 1em;
}

hr {
    margin: 1em 0;
    border: 2px solid #B90090;
    width: 150px;
}

a {
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

.btn-primary {
    border: 3px solid var(--color-secondary);
    background: none;
    font-size: 0.8em;
    padding: 0.6em 1.2em;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
}

.btn-primary:hover {
    border: 3px solid var(--color-secondary);
    background: var(--color-secondary);
}

.btn-primary:focus {
    border: 3px solid var(--color-secondary)!important;
    background: var(--color-secondary)!important;
}

.btn-primary:active {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)!important;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)!important;
}

.navbar-brand span {
    color: var(--color-secondary);
    font-weight: 700;
}

.modal-content {
    background-color: var(--color-primary);
}

.modal-content p {
    padding: 1em;
}

.navbar-brand {
    color: #fff;
    line-height: 0;
}

.navbar-brand i {
    vertical-align: middle;
    font-size: 1.6em;
}

.navbar-nav .nav-item .nav-link {
    padding: 0 0 0.5em 0 !important;
    margin: 1em 1em;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
}

.nav-link {
    border-bottom: 5px solid var(--color-secondary);
}

.navbar-nav .nav-item .nav-link:hover {
    color: #fff;
    border-bottom: 5px solid #fff;
}

nav {
    -webkit-transition: padding-top .3s, padding-bottom .3s;
    transition: padding-top .3s, padding-bottom .3s;
    border: none;
}

.no-border {
    border: none!important;
}

.dropdown-menu {
    margin-top: -15px;
}

.shrink {
    padding-top: 0;
    padding-bottom: 0em;
    background-color: #212529;
}

.banner {
    background: url("../images/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    height: 80vh;
    border-bottom: 8px solid var(--color-secondary);
}

.banner .cover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: rgba(55, 55, 55, 0.5);
    height: 100%;
    width: 100%;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    padding-bottom: 3em;
}

.header button {
    border: 6px solid var(--color-secondary);
    margin: 1em 4em;
    background: none;
    font-size: 1em;
    padding: 1em 1.2em;
    width: 330px;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    color: white;
}

.header button:hover {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#860079+0,be00ac+50,860079+100 */
    background: rgb(134, 0, 121);
    /* Old browsers */
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(rgba(134, 0, 121, 1)), color-stop(50%, rgba(190, 0, 172, 1)), to(rgba(134, 0, 121, 1)));
    background: linear-gradient(to right, rgba(134, 0, 121, 1) 0%, rgba(190, 0, 172, 1) 50%, rgba(134, 0, 121, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#860079', endColorstr='#860079', GradientType=1);
    /* IE6-9 */
}

.info_box {
    background-color: var(--color-secondary);
    color: #fff;
    height: auto;
    padding: 1em;
}

main {
    max-width: 1920px;
    width: 100%;
}

main .back {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    background-color: var(--color-primary);
    padding-top: 10em;
    min-height: 95vh;
}

.dab {
    width: 100%;
    color: white;
    padding: 1em 0;
    background-color: var(--color-primary);
    background-image: url('../images/dab.jpg');
    font-weight: 500;
    min-height: 250px;
    height: auto;
    background-repeat: no-repeat;
    background-position: left;
    padding: 1.5em 2em 1.5em 35%;
}

.title_info {
    background-color: var(--color-secondary);
    width: 100%;
    height: 50px;
    color: white;
    padding: 1em 0 0 1em;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0 0 1em 0;
}

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--color-primary);
    color: white;
    height: 50px;
}

.card {
    border-radius: 0;
}

.card-body {
    color: black;
}

.card-text {
    color: black;
}

.card-header {
    height: 50px;
}

.card-title a {
    color: black!important;
}

.card-footer {
    background-color: var(--color-primary);
    border-radius: 0!important;
}


/* mobile view */
@media (max-width:500px) {
    .navbar-nav {
        background-color: #000;
        border-top: 3px solid var(--color-secondary);
        color: #fff;
        z-index: 1;
        margin-top: 1.5em;
        padding-bottom: 1em;
    }

    .exit {
        margin: 0 1.9em;
    }

    .account {
        margin: 0 1.9em;
    }

    .shrink {
        padding-top: 1.5em;
    }

    .header {
        flex-direction: column;
    }

    .header button {
        margin: 1em 0em;
    }

}

@media (max-width:768px) {
    .navbar-nav {
        background-color: #000;
        border-top: 3px solid var(--color-secondary);
        color: #fff;
        z-index: 1;
        margin-top: 1.5em;
        padding-bottom: 1em;
    }

    .exit {
        margin: 0 1.9em;
    }

    .account {
        margin: 0 1.9em;
    }

    .shrink {
        padding-top: 1.5em;
    }

    .dab {
        background-image: none;
        padding: 1.5em 2em 1.5em 1.5em;
    }

    .header {
        flex-direction: column;
        align-items: center;
    }

    .header button {
        margin: 1em 0em;
    }

}