<template>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="title_info"><i class="fas fa-envelope"></i> Envoyé un message</div>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="subject">Motif</label>
                            <input id="subject" type="text" class="form-control" :class="{'is-invalid': errors.subject}"
                                v-model="message.subject">
                            <div class="invalid-feedback" v-if="errors.subject">{{errors.subject[0]}}</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="sento">Destinataire</label>
                            <select v-model="message.sent_to_id" class="form-control" id="sento">
                                <option v-for="usr in usersAll" :key="usr" :value="usr.id">{{ usr.name }}</option>
                            </select>
                            <div class="invalid-feedback" v-if="errors.sent_to_id">{{errors.sent_to_id[0]}}</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <img :src="image" class="img-responsive mr-3" height="70px" width="auto">
                        </div>
                        <div class="form-group">
                            <input type="file" v-on:change="onImageChange">
                            <div class="invalid-feedback" v-if="errors.image">{{errors.image[0]}}</div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="body">Message</label>
                            <textarea id="body" type="text" class="form-control" :class="{'is-invalid': errors.body}"
                                v-model="message.body"></textarea>
                            <div class="invalid-feedback" v-if="errors.body">{{errors.body[0]}}</div>
                        </div>
                    </div>
                </form>

                <div class="form-group row">
                    <div class="col">
                        <button class="btn btn-primary float-left" type="button" :disabled="submiting"
                            @click="sendMessage">
                            <i class="fas fa-spinner fa-spin" v-if="submiting"></i> Envoyer
                        </button>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="title_info" style="margin: 0;"><i class="fas fa-inbox"></i> Message(s) reçu</div>

                <div class="accordion" id="accordion">
                    <div class="card" v-for="message in messages_rec" :key="message">
                        <form>
                        <div class="card-header">
                            <h5 class="card-title">
                                <a data-toggle="collapse" data-parent="#accordion" :href="'#collapse0'+message.id">
                                    {{ message.subject }}</a>
                                <input v-model="messageResp.subject" type="hidden">
                                <a v-on:click="destroyMessage(message.id)" class="float-right"><i class="fas fa-trash"></i></a>
                            </h5>
                        </div>
                        <div :id="'collapse0'+message.id" class="collapse">
                            <div class="card-body">
                                <img :src="'images/stock/'+message.image" class="img-responsive" style="max-height: 70px; width: auto;">
                                <p class="card-text">{{ message.body }}</p>
                            </div>
                            <div class="card-footer">
                                <textarea type="text" class="form-control" :class="{'is-invalid': errors.body}" v-model="messageResp.body"></textarea>
                                <input :value="message.sent_to_id" type="hidden">
                                <button class="btn btn-primary my-2" type="button" :disabled="submit"
                                        @click="sendRespMessage">
                                    <i class="fas fa-spinner fa-spin" v-if="submit"></i> Envoyer
                                </button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="title_info" style="margin: 0;"><i class="fas fa-reply"></i> Message(s) envoyé</div>

                <div class="accordion" id="accordion">
                    <div class="card" v-for="message in messages_sent" :key="message">
                        <div class="card-header">
                            <h5 class="card-title">
                                <a data-toggle="collapse" data-parent="#accordion" :href="'#collapse1'+message.id">
                                    {{ message.subject }}</a>
                                <a href="" class="float-right"><i class="fas fa-trash"></i></a>
                            </h5>
                        </div>
                        <div :id="'collapse1'+message.id" class="collapse">
                            <div class="card-body">
                                <p class="card-text">{{ message.body }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</template>
<script>
    export default {
        data() {
            return {
                message: {},
                messageResp: {},
                messages_sent: {},
                messages_rec: {},
                usersAll: {},
                image: '',
                errors: {},
                submiting: false,
                submit: false
            }
        },
        mounted() {
            this.getAuthUser()
            this.getSentMessages()
            this.getRecMessages()
            this.getUsersAll()
        },
        methods: {
            getAuthUser() {
                axios.get('/api/profile/getAuthUser')
                    .then(response => {
                        this.user = response.data
                    })
            },
            getSentMessages() {
                axios.get('api/profile/getSentMessages')
                    .then(response => {
                        this.messages_sent = response.data
                    })
            },
            getRecMessages() {
                axios.get('api/profile/getRecMessages')
                    .then(response => {
                        this.messages_rec = response.data
                    })
            },
            getUsersAll() {
                axios.get('api/profile/getUsersAll')
                    .then(response => {
                        this.usersAll = response.data
                        console.log(this.usersAll)
                    })
            },
            destroyMessage(id) {
                axios.delete(`api/profile/destroyMessage/` + id)
                    .then(() => {
                        console.log('Message deleted')
            })
            },
            onImageChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.image = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            sendMessage() {
                this.submiting = true
                axios.post('/api/profile/sendMessage', {
                        body: this.message.body,
                        subject: this.message.subject,
                        sent_to_id: this.message.sent_to_id,
                        image: this.image
                    })
                    .then(response => {
                        this.errors = {}
                        this.submiting = false
                        this.$toasted.global.error('Message envoyé !');
                    })
                    .catch(error => {
                        this.errors = error.response.data.errors
                        this.submiting = false
                    })
            },

            sendRespMessage() {
                this.submit = true
                axios.post('/api/profile/sendMessage', this.messageResp)
                    .then(response => {
                        this.errors = {}
                        this.submit = false
                        this.$toasted.global.error('Message envoyé !');
                    })
                    .catch(error => {
                        this.errors = error.response.data.errors
                        this.submit = false
                    })
            },
        }
    }
</script>