<template>
<div>
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="name">Nom</label>
                <input id="name" type="text" class="form-control" :class="{'is-invalid': errors.name}" name="name"
                    v-model="user.name">
                <div class="invalid-feedback" v-if="errors.name">{{errors.name[0]}}</div>
            </div>

            <div class="form-group col-md-6">
                <label for="email">E-Mail</label>
                <input id="email" type="email" class="form-control" :class="{'is-invalid': errors.email}"
                    v-model="user.email">
                <div class="invalid-feedback" v-if="errors.email">{{errors.email[0]}}</div>
            </div>
        </div>
    </form>

    <div class="form-group row">
        <div class="col">
            <button class="btn btn-primary float-left" type="button" :disabled="submiting" @click="updateAuthUser">
                <i class="fas fa-spinner fa-spin" v-if="submiting"></i> Sauvegarder
            </button>
        </div>
        <div class="col">
            <button class="btn btn-danger float-right mx-2 my-1" v-on:click="destroyAuthUser()" role="button">Supprimer
                compte</button>
            <a class="btn btn-warning float-right mx-2 my-1" href="./password" role="button">Changer mot
                de
                passe</a>
        </div>
    </div>
</div>
</template>
<script>
    export default {
        data() {
            return {
                user: {},
                errors: {},
                submiting: false
            }
        },
        mounted() {
            this.getAuthUser()
        },
        methods: {
            getAuthUser() {
                axios.get('/api/profile/getAuthUser')
                    .then(response => {
                        this.user = response.data
                    })
            },
            updateAuthUser() {
                this.submiting = true
                axios.put('/api/profile/updateAuthUser', this.user)
                    .then(response => {
                        this.errors = {}
                        this.submiting = false
                        this.$toasted.global.error('Profile mis à jour !');
                    })
                    .catch(error => {
                        this.errors = error.response.data.errors
                        this.submiting = false
                    })
            },
            destroyAuthUser() {
                axios.get('/api/profile/destroyAuthuser')
                    .then(() => {
                        console.log('delete')
                    })
            }
        }
    }
</script>